# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/

# production
build/

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# debug
npm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# screenshots & temp files
*.png
*.ps1
now.png

# claude
.claude/

.vercel
